{% extends '::Admin/baseContent.html.twig' %}

{% block content %}
    <div class="fluid-container page language">
        <div class="full-width align-left">
            <h1 class="full-width page-title margin-top-30 align-left">Courses</h1>
            <a href="{{ path('admin_course_create') }}" class="main-action-link align-right margin-top-30">Create</a>
        </div>

        {% if courses is empty %}
            <p class="no-data-message">No courses have been added</p>
        {% endif %}

        {% if courses is not empty %}
            <div class="full-width align-left margin-top-30 page-content">
                {% for course in courses %}
                    <div class="card full-width align-left margin-bottom-10">
                        <a class="base-action-link align-left" href="#">{{ course.name }} | <span class="text-highlight">{{ course.language.name | capitalize }}</span></a>
                        <a class="sub-base-action-link align-right" href="{{ path('admin_course_edit', {'id': course.id}) }}"><i class="fa fa-edit"></i></a>
                        <a class="sub-base-action-link align-right" href="{{ path('admin_course_manage', {'courseId': course.id}) }}">Manage</a>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}