<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav in" id="side-menu">
            <li>
                <a href="{{ path('admin_language_index') }}"><i class="fa fa-language fa-fw"></i> Languages</a>
            </li>

            <li>
                <a href="{{ path('admin_category_index') }}"><i class="fa fa-align-justify fa-fw"></i> Categories</a>
            </li>

            <li>
                <a href="{{ path('admin_word_index') }}"><i class="fa fa-envelope fa-fw"></i> Words</a>
            </li>
            <li>
                <a href="{{ path('admin_language_info_index') }}"><i class="fa fa-info fa-fw"></i> Language infos</a>
            </li>
{#
            <li>
                <a href="{{ path('admin_language_info_index') }}"><i class="fa fa-info fa-fw"></i> Language infos</a>
            </li>

            <li>
                <a href="{{ path('admin_category_index') }}"><i class="fa fa-align-justify fa-fw"></i> Categories</a>
            </li>

            <li>
                <a href="{{ path('admin_word_index') }}"><i class="fa fa-envelope fa-fw"></i> Words</a>
            </li>

            <li>
                <a href="{{ path('admin_sound_index') }}"><i class="fa fa-file-sound-o fa-fw"></i> Sounds</a>
            </li>

            <li>
                <a href="{{ path('admin_course_index') }}"><i class="fa fa-briefcase fa-fw"></i> Courses</a>
            </li>#}
        </ul>
    </div>
</div>