<!DOCTYPE html>
<html>
    <head>
        {% set cssRand = random(10000) %}
        <base href="/web/app_dev.php/">
        <meta charset="UTF-8" />
        <title>{% block title %}LangLand{% endblock %}</title>

        <link href="https://fonts.googleapis.com/css?family=Mallanna" rel="stylesheet">

        {% block stylesheets %}
            <link href="{{ asset('bower_components/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" />

            <link rel="stylesheet" href="https://unpkg.com/react-select/dist/react-select.css">

            <link rel="stylesheet" href="{{ asset('css/lib/bootstrap/css/bootstrap.min.css') }}" />
            <link rel="stylesheet" href="{{ asset('css/lib/sb-admin/dist/css/sb-admin-2.min.css') }}" />

            <link rel="stylesheet" href="{{ asset('css/admin/admin.css?v=' ~ cssRand) }}" />

        {% endblock %}

    </head>

    <body>

        {% block base %}{% endblock %}

        {% block javascripts %}
            <script src="{{ asset('dist/js/lib/ace.min.js') }}"></script>
            <script src="{{ asset('dist/js/lib/ace-html-mode.min.js') }}"></script>

            <script src="{{ asset('bower_components/jquery/dist/jquery.min.js') }}"></script>

            <script src="{{ asset('css/lib/bootstrap/js/bootstrap.min.js') }}"></script>

            <script src="{{ asset('js/admin/lib/select2-4.0.3/dist/js/select2.min.js') }}"></script>

            <script src="{{ asset('css/lib/sb-admin/vendor/metisMenu/metisMenu.min.js') }}"></script>

            <script src="{{ asset('css/lib/sb-admin/dist/js/sb-admin-2.min.js') }}"></script>


            <script src="{{ asset('dist/js/admin/bundle.js') }}?v={{ random(9999999) }}"></script>
        {% endblock %}
    </body>
</html>
