{% extends '::Admin/baseContent.html.twig' %}

{% block content %}
    <div class="fluid-container page language">
        <div class="full-width align-left">
            <h1 class="full-width page-title margin-top-30 align-left">Language Info - edit <span class="text-highlight">{{ languageInfo.name }}</span> language info</h1>
        </div>

        <div class="full-width align-left">
            <a href="{{ path('admin_language_info_create') }}" class="main-action-link align-right margin-top-30">Create</a>
        </div>

        <div class="full-width align-left margin-top-30 page-content form">
            <form action="{{ path('admin_language_info_edit', {'languageInfoId' : languageInfo.id}) }}" method="POST" class="form" name="addLanguageForm" enctype="multipart/form-data"  novalidate>
                <div class="margin-top-40 align-left full-width">
                    <div class="form-error full-width align-right">
                        {{ form_errors(form) }}
                    </div>

                    {% include '::Admin/Form/_include/flashNotice.html.twig' %}

                    {% include '::Admin/Form/_include/field.html.twig' with {'field': form.name, 'description': 'language info name' } only %}

                    {% include '::Admin/Form/_include/field.html.twig' with {'field': form.language, 'description': 'choose a language for this language info' } only %}

                    <div class="full-width align-left form-field field-break">
                        {{ form_label(form.languageInfoTexts) }}

                        <i class="description">
                            <span class="highlight">*</span>These fields will be show as a carousel when the user first time picks a language to learn
                        </i>

                        <div class="translations ace-text" data-prototype="{{ form_widget(form.languageInfoTexts.vars.prototype)|e('html_attr') }}">
                            {% for text in form.languageInfoTexts %}
                                <div class="translation">
                                    <div class="full-width align-left margin-bottom-20">{{ form_row(text.name) }}</div>
                                    <div class="full-width align-left margin-bottom-20">{{ form_row(text.text) }}</div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                    {% include '::Admin/Form/_include/simpleButton.html.twig' with {'value': 'Edit'} %}
                </div>

                {{ form_widget(form._token) }}
            </form>
        </div>
    </div>
{% endblock %}