{% extends '::Admin/Course/baseContent.html.twig' %}

{% block content %}
    <div class="fluid-container page language" id="react-game-create-app">
        <div class="full-width align-left">
            <h1 class="full-width page-title margin-top-30 align-left">Games</h1>

            <div class="games-create-menu">
                <a href="{{ path('admin_word_game_create_get', {'courseId' : course.id}) }}" class="main-action-link align-left margin-top-30">Create word game</a>
                <a href="{{ path('admin_question_game_create', {'courseId' : course.id}) }}" class="main-action-link align-left margin-top-30">Create question game</a>
                <a href="" class="main-action-link align-left margin-top-30">Create sentence game</a>
                <a href="" class="main-action-link align-left margin-top-30">Create mixed game</a>
            </div>

            <h1 class="full-width page-title margin-top-30 align-left">Game list</h1>

            <div class="form-field full-width align-left form margin-top-10">
                <div id="react-game-list-selection"></div>
            </div>

            {% if games is empty %}
                <p class="full-width align-left no-data-message margin-top-30 margin-bottom-30">No games have been added or selected. Select a game from the dropdown list</p>
            {% endif %}

            {% if games is not empty %}
                <div class="full-width align-left margin-top-30 page-content">
                    {% for game in games %}
                        <div class="card full-width align-left margin-bottom-10">
                            <a class="base-action-link align-left" href="#">{{ game.name }}</a>
                            {% if app.request.query.get('gameType') == 'wordGames' %}
                                <a class="danger-action-link align-right" href="{{ path('admin_word_game_remove', {'courseId': course.id, 'gameId': game.id}) }}"><i class="fa fa-remove"></i></a>
                            {% endif %}

                            {% if app.request.query.get('gameType') == 'questionGames' %}
                                <a class="sub-base-action-link align-right" href="{{ path('admin_question_game_edit', {'courseId': course.id, 'gameId': game.id}) }}"><i class="fa fa-edit"></i></a>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}