<div class="form-group" style="margin-bottom: 30px">

    {% if entity is defined and entity.image is not empty %}
        <div class="full-width align-left">
            <img width="56" height="56" src="{{ entity.image.fullPath }}" />
        </div>
    {% endif %}

    {{ form_label(field) }}
    {{ form_widget(field) }}

    {% if field.vars.errors | length %}
        <div class="alert alert-danger">
            {{ form_errors(field) }}
        </div>
    {% endif %}

    <i class="description help-block">
        <span class="highlight">*</span> {{ description }}
    </i>
</div>