{% extends '::Admin/baseContent.html.twig' %}

{% block content %}
    <div class="fluid-container page language">
        <div class="full-width align-left">
            <h1 class="full-width page-title margin-top-30 align-left">Words - create new word</h1>
        </div>

        {% if no_language is defined %}
            <p class="full-width align-left no-data-message margin-top-30">There are no created languages</p>
        {% endif %}

        {% if form is defined %}
            <div class="full-width align-left margin-top-30 page-content form">
                <form action="{{ path('admin_word_create') }}" method="POST" class="form" name="addWordForm" enctype="multipart/form-data" novalidate>
                    <div class="margin-top-40 align-left full-width">

                        <div class="form-error full-width align-right">
                            {{ form_errors(form) }}
                        </div>

                        {% include '::Admin/Form/_include/flashNotice.html.twig' %}

                        {% include '::Admin/Form/_include/field.html.twig' with {'field': form.language, 'description': 'choose a language for this word' } only %}

                        {% include '::Admin/Form/_include/field.html.twig' with {'field': form.name, 'description': 'the word to be translated' } only %}

                        {% include '::Admin/Form/_include/field.html.twig' with {'field': form.type, 'description': 'is it an adjective, a noun, a verb?' } only %}

                        {% include '::Admin/Form/_include/field.html.twig' with {'field': form.description, 'description': 'optional description of this word' } only %}

                        {% include '::Admin/Form/_include/field.html.twig' with {'field': form.categories, 'description': 'in what category in life would you place this word?' } only %}

                        {% include '::Admin/Form/_include/field.html.twig' with {'field': form.image, 'description': 'add a unique image describing this word' } only %}

                        <div class="full-width align-left form-field field-break">
                            {{ form_label(form.translations) }}
                            <div class="translations" data-prototype="{{ form_widget(form.translations.vars.prototype)|e('html_attr') }}">
                                {% for translation in form.translations %}
                                    <div>{{ form_row(translation.name) }}</div>
                                {% endfor %}
                            </div>
                        </div>

                        {% include '::Admin/Form/_include/simpleButton.html.twig' with {'value': 'Create'} %}
                    </div>

                    {{ form_widget(form._token) }}
                </form>
            </div>
        {% endif %}
    </div>
{% endblock %}