{% extends '::Admin/baseContent.html.twig' %}

{% block content %}
    <div class="fluid-container page language margin-bottom-50">
        <div class="full-width align-left">
            <h1 class="full-width page-title margin-top-30 align-left">Words - edit <span class="text-highlight">{{ word.name }}</span> word</h1>
        </div>

        <div class="full-width align-left">
            <a href="{{ path('admin_word_create') }}" class="main-action-link align-right margin-top-30">Create</a>
        </div>

        <div class="full-width align-left margin-top-30 page-content form">
            <form action="{{ path('admin_word_edit', {'id': word.id}) }}" method="POST" class="form" name="addWordForm" enctype="multipart/form-data" novalidate>
                <div class="margin-top-40 align-left full-width">

                    <div class="form-error full-width align-right">
                        {{ form_errors(form) }}
                    </div>

                    {% include '::Admin/Form/_include/flashNotice.html.twig' %}

                    {% include '::Admin/Form/_include/field.html.twig' with {'field': form.language, 'description': 'choose a language for this word' } only %}

                    {% include '::Admin/Form/_include/field.html.twig' with {'field': form.name, 'description': 'the word to be translated' } only %}

                    {% include '::Admin/Form/_include/field.html.twig' with {'field': form.pluralForm, 'description': 'plural form of the word' } only %}

                    {% include '::Admin/Form/_include/field.html.twig' with {'field': form.type, 'description': 'is it an adjective, a noun, a verb?' } only %}

                    {% include '::Admin/Form/_include/field.html.twig' with {'field': form.description, 'description': 'optional description of this word' } only %}

                    {% include '::Admin/Form/_include/field.html.twig' with {'field': form.categories, 'description': 'in what category in life would you place this word?' } only %}

                    {% include '::Admin/Form/_include/field.html.twig' with {'field': form.image, 'description': 'add a unique image describing this word' } only %}

                    <div class="full-width align-left form-field field-break">
                        {{ form_label(form.image) }}
                        {{ form_widget(form.image) }}
                        <div class="form-error full-width align-right">
                            {{ form_errors(form.image) }}
                        </div>

                        {% if word.image is not empty %}
                            <div class="full-width align-left">
                                <img width="250" height="250" src="{{ word.image.fullPath }}" />
                            </div>
                        {% endif %}
                    </div>

                    <div class="full-width align-left form-field field-break">
                        {{ form_label(form.translations) }}
                        <div class="translations" data-prototype="{{ form_widget(form.translations.vars.prototype)|e('html_attr') }}">
                            {% for translation in form.translations %}
                                <div class="translation">{{ form_widget(translation.name) }}</div>
                            {% endfor %}
                        </div>
                    </div>

                    {% include '::Admin/Form/_include/simpleButton.html.twig' with {'value': 'Edit'} %}
                </div>

                {{ form_widget(form._token) }}
            </form>
        </div>
    </div>
{% endblock %}