{% extends '::Admin/base.html.twig' %}

{% block content %}
    <div class="fluid-container page language margin-bottom-50">
        <div class="full-width align-left">
            <h1 class="full-width page-title margin-top-30 align-left">Words - edit <span class="text-highlight">{{ word.name }}</span> word</h1>
        </div>

        <div class="full-width align-left margin-top-30 page-content form">
            <form action="{{ path('word_edit', {'id': word.id}) }}" method="POST" class="form" name="addWordForm" enctype="multipart/form-data" novalidate>
                <div class="margin-top-40 align-left full-width">
                    <div class="form-error full-width align-right">
                        {{ form_errors(form) }}
                    </div>

                    {% include '::Admin/Form/_include/flashNotice.html.twig' %}

                    {% include '::Admin/Form/_include/field.html.twig' with {'field': form.language } only %}

                    {% include '::Admin/Form/_include/field.html.twig' with {'field': form.name } only %}

                    {% include '::Admin/Form/_include/field.html.twig' with {'field': form.type } only %}

                    {% include '::Admin/Form/_include/field.html.twig' with {'field': form.categories } only %}

                    <div class="full-width align-left form-field field-break">
                        {{ form_label(form.wordImage) }}
                        {{ form_widget(form.wordImage) }}
                        <div class="form-error full-width align-right">
                            {{ form_errors(form.wordImage) }}
                        </div>

                        {% if word.viewImage is not empty %}
                            <div class="full-width align-left">
                                <img width="250" height="250" src="/web/uploads/images/{{ word.viewImage.name }}" />
                            </div>
                        {% endif %}
                    </div>

                    <div class="align-right relative margin-top-50 relative button-wrapper">
                        <button type="submit" class="align-right">Edit</button>
                    </div>
                </div>

                {{ form_widget(form._token) }}
            </form>
        </div>
    </div>
{% endblock %}