{% extends '::Admin/Course/baseContent.html.twig' %}

{% block content %}
    <div class="fluid-container page language">
        <div class="full-width align-left">
            <h1 class="full-width page-title margin-top-30 align-left">Lessons - create new lesson</h1>
        </div>

        <div class="full-width align-left margin-top-30 page-content form">

            <div class="full-width align-right react-lesson-app" id="react-lesson-app">
            </div>

            <form action="{{ path('lesson_create', {'courseId' : course.id}) }}" method="POST" class="form" name="addLessonForm" enctype="multipart/form-data" novalidate>
                <div class="margin-top-40 align-left full-width">
                    <div class="form-error full-width align-right">
                        {{ form_errors(form) }}
                    </div>

                    {% include '::Admin/Form/_include/flashNotice.html.twig' %}

                    {% include '::Admin/Form/_include/field.html.twig' with {'field' : form.name, 'description': 'add a name for this lesson'} only %}

                    {% include '::Admin/Form/_include/field.html.twig' with {'field' : form.isInitialLesson, 'description': 'is this the first lesson a user should learn? There can only be one initial lesson per course'} only %}

                    <div class="full-width align-left form-field field-break">
                        {{ form_label(form.lessonTexts) }}

                        <i class="description">
                            <span class="highlight">*</span>These fields will be shown as the actual lesson with heading and text. Text could also be html
                        </i>

                        <div class="translations" data-prototype="{{ form_widget(form.lessonTexts.vars.prototype)|e('html_attr') }}">
                            {% for text in form.lessonTexts %}
                                <div class="translation">
                                    <div class="full-width align-left margin-bottom-20">{{ form_row(text.name) }}</div>
                                    <div class="full-width align-left margin-bottom-20">{{ form_row(text.text) }}</div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                    {% include '::Admin/Form/_include/simpleButton.html.twig' with {'value': 'Create'} %}
                </div>

                {{ form_widget(form._token) }}
            </form>
        </div>
    </div>
{% endblock %}