{% extends '::Admin/Course/baseContent.html.twig' %}

{% block content %}
    <div class="fluid-container page language">
        <div class="full-width align-left">
            <h1 class="full-width page-title margin-top-30 align-left">Lessons - edit <span class="text-highlight">{{ lesson.name }}</span> lesson</h1>
        </div>

        <div class="full-width align-left">
            <a href="{{ path('admin_lesson_create', {'courseId' : course.id}) }}" class="main-action-link align-right margin-top-30">Create</a>
        </div>

        {% if no_language is defined %}
            <p class="full-width align-left no-data-message margin-top-30">There are no created languages</p>
        {% endif %}

        <div class="full-width align-left margin-top-30 page-content form">
            <form action="{{ path('admin_lesson_edit', {'courseId' : lesson.course.id, 'lessonId': lesson.id}) }}" method="POST" class="form" name="addLessonForm" enctype="multipart/form-data" novalidate>
                <div class="margin-top-40 align-left full-width">
                    <div class="form-error full-width align-right">
                        {{ form_errors(form) }}
                    </div>

                    {% include '::Admin/Form/_include/flashNotice.html.twig' %}

                    {% include '::Admin/Form/_include/field.html.twig' with {'field' : form.name, 'description': 'add a name for this lesson'} only %}

                    {% include '::Admin/Form/_include/field.html.twig' with {'field' : form.description, 'description': 'a short description of this lesson. This description will show on frontend when the user wants to start a new lesson'} only %}

                    {% include '::Admin/Form/_include/field.html.twig' with {'field' : form.isInitialLesson, 'description': 'is this the first lesson a user should learn? There can only be one initial lesson per course'} only %}

                    <div class="full-width align-left form-field field-break">
                        {{ form_label(form.lessonTexts) }}

                        <i class="description">
                            <span class="highlight">*</span>These fields will be shown as the actual lesson with heading and text. Text could also be html
                        </i>

                        <div class="translations" data-prototype="{{ form_widget(form.lessonTexts.vars.prototype)|e('html_attr') }}">
                            {% for text in form.lessonTexts %}
                                <div class="translation">
                                    <div class="full-width align-left margin-bottom-20">{{ form_row(text.name) }}</div>
                                    <div class="full-width align-left margin-bottom-20">{{ form_row(text.text) }}</div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                    {% include '::Admin/Form/_include/simpleButton.html.twig' with {'value': 'Edit'} %}
                </div>

                {{ form_widget(form._token) }}
            </form>
        </div>
    </div>
{% endblock %}