{% extends '::Public/base.html.twig' %}

{% block content %}

<div class="user-action">
        {% if error %}
            <div class="error margin-bottom-20">{{ error }}</div>
        {% endif %}

        {% if app.session.flashBag.has('user_created_notice') %}
            <div class="success margin-bottom-20">
                {{ app.session.flashBag.get('user_created_notice')[0] }}
            </div>
        {% endif %}

        {% if app.session.flashBag.has('user_confirmed') %}
            <div class="success margin-bottom-20">
                {{ app.session.flashBag.get('user_confirmed')[0] }}
            </div>
        {% endif %}

        {% if app.session.flashBag.has('user_not_confirmed') %}
            <div class="success margin-bottom-20">
                {{ app.session.flashBag.get('user_not_confirmed')[0] }}
            </div>
        {% endif %}

        <form action="{{ path('armor_user_login') }}" method="post">

            <div class="row">
                <div class="field-wrapper">
                    <div class="field">
                        <label for="username">EMAIL <span class="highlight">*</span></label>
                    </div>

                    <div class="field-right">
                        <input type="text" id="username" name="_username" value="{{ last_username }}" placeholder="Your username" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="field-wrapper">
                    <div class="field">
                        <label for="password">PASSWORD <span class="highlight">*</span></label>
                    </div>

                    <div class="field-right">
                        <input type="password" id="password" name="_password" placeholder="Your password" />
                    </div>
                </div>
            </div>

            <div class="button-wrapper">
                <button type="submit">Login</button>
            </div>
        </form>
</div>
{% endblock %}