{% extends '::Public/base.html.twig' %}

{% block content %}

<a href="{{ path('public_homepage') }}">LangLand</a>

<div class="user-actions">
    {% include '@Armor/Security/_include/_actions.html.twig' %}

        <div class="user-action align-left">
            <p class="full-width align-left">Enter your email and password <span class="highlight">to sign in</span></p>

            {% if error %}
                <div class="error margin-bottom-40">{{ error }}</div>
            {% endif %}

            {% if app.session.flashBag.has('user_created_notice') %}
            <div class="success margin-bottom-20">
                {{ app.session.flashBag.get('user_created_notice')[0] }}
            </div>
            {% endif %}

            <form action="{{ path('armor_user_login') }}" method="post">
                <div class="form-row margin-bottom-10 full-width align-left border-top border-bottom">
                    <div>
                        <label for="username">EMAIL <span class="highlight">*</span></label>
                        <input type="text" id="username" name="_username" value="{{ last_username }}" placeholder="Your username" />
                    </div>
                </div>

                <div class="form-row full-width align-left border-bottom">
                    <div>
                        <label for="password">PASSWORD <span class="highlight">*</span></label>
                        <input type="password" id="password" name="_password" placeholder="Your password" />
                    </div>
                </div>

                <div class="action-button full-width align-left">
                    <a href="#" class="highlight">Forgot your password?</a>
                    <button type="submit">SIGN IN</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}