{% extends '::Public/base.html.twig' %}

{% block content %}

    <a href="{{ path('public_homepage') }}">LangLand</a>

    <div class="user-actions">

    {% include '@Armor/Security/_include/_actions.html.twig' %}

    <div class="user-action full-width align-left">
        <p class="full-width align-left">Enter valid information to <span class="highlight">register</span></p>
        <form action="{{ path('armor_user_register') }}" method="post" novalidate>

            <div class="full-width align-left error margin-bottom-20">
                {{ form_errors(form) }}
            </div>

            {% if app.session.flashBag.has('email_failed') %}
                <div class="error margin-bottom-20">
                    {{ app.session.flashBag.get('email_failed')[0] }}
                </div>
            {% endif %}

            <div class="form-row margin-bottom-10 full-width align-left border-top border-bottom">
                <div>
                    {{ form_label(form.username) }}<span class="highlight"> *</span>
                    {{ form_widget(form.username) }}
                </div>

                {% if form.username.vars.valid == false %}
                    <div class="full-width align-left error margin-top-10">{{ form_errors(form.username) }}</div>
                {% endif %}
            </div>

            <div class="form-row full-width align-left border-bottom">
                <div>
                    {{ form_label(form.plainPassword.first) }}<span class="highlight"> *</span>
                    {{ form_widget(form.plainPassword.first) }}
                </div>

                {% if form.plainPassword.first.vars.valid == false %}
                    <div class="full-width align-left error margin-top-10">{{ form_errors(form.plainPassword.first) }}</div>
                {% endif %}
            </div>

            <div class="form-row full-width align-left border-bottom">
                <div>
                    {{ form_label(form.plainPassword.second) }}<span class="highlight"> *</span>
                    {{ form_widget(form.plainPassword.second) }}
                </div>
            </div>


            <div class="form-row full-width align-left border-bottom">
                <div>
                    {{ form_label(form.name) }}<span class="highlight"> *</span>
                    {{ form_widget(form.name) }}
                </div>

                {% if form.name.vars.valid == false %}
                    <div class="full-width align-left error margin-top-10">{{ form_errors(form.name) }}</div>
                {% endif %}            </div>

            <div class="form-row full-width align-left border-bottom">
                <div>
                    {{ form_label(form.lastname) }}<span class="highlight"> *</span>
                    {{ form_widget(form.lastname) }}
                </div>

                {% if form.lastname.vars.valid == false %}
                    <div class="full-width align-left error margin-top-10">{{ form_errors(form.lastname) }}</div>
                {% endif %}            </div>

            <div class="form-row full-width align-left border-bottom">
                <div>
                    {{ form_label(form.gender) }}<span class="highlight"> *</span>
                    {{ form_widget(form.gender) }}
                </div>

                {% if form.gender.vars.valid == false %}
                    <div class="full-width align-left error margin-top-10">{{ form_errors(form.gender) }}</div>
                {% endif %}
            </div>

            {{ form_rest(form) }}

            <div class="action-button full-width align-left">
                <button type="submit">SIGN UP</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}