{% extends '::Public/base.html.twig' %}

{% block content %}
    <div id="registration">
        <form action="{{ path('armor_user_register') }}" method="post" novalidate>

            <div class="">
                {{ form_errors(form) }}
            </div>

            {% if app.session.flashBag.has('email_failed') %}
                <div class="error margin-bottom-20">
                    {{ app.session.flashBag.get('email_failed')[0] }}
                </div>
            {% endif %}

            <div class="">
                <div>
                    {{ form_label(form.username) }}<span class="highlight"> *</span>
                    {{ form_widget(form.username) }}
                </div>

                {% if form.username.vars.valid == false %}
                    <div class="">{{ form_errors(form.username) }}</div>
                {% endif %}
            </div>

            <div class="">
                <div>
                    {{ form_label(form.plainPassword.first) }}<span class=""> *</span>
                    {{ form_widget(form.plainPassword.first) }}
                </div>

                {% if form.plainPassword.first.vars.valid == false %}
                    <div class="">{{ form_errors(form.plainPassword.first) }}</div>
                {% endif %}
            </div>

            <div class="">
                <div>
                    {{ form_label(form.plainPassword.second) }}<span class=""> *</span>
                    {{ form_widget(form.plainPassword.second) }}
                </div>
            </div>


            <div class="">
                <div>
                    {{ form_label(form.name) }}<span class=""> *</span>
                    {{ form_widget(form.name) }}
                </div>

                {% if form.name.vars.valid == false %}
                    <div class="">{{ form_errors(form.name) }}</div>
                {% endif %}
            </div>

            <div class="">
                <div>
                    {{ form_label(form.lastname) }}<span class=""> *</span>
                    {{ form_widget(form.lastname) }}
                </div>

                {% if form.lastname.vars.valid == false %}
                    <div class="">{{ form_errors(form.lastname) }}</div>
                {% endif %}
            </div>

            <div class="">
                <div>
                    {{ form_label(form.gender) }}<span class=""> *</span>
                    {{ form_widget(form.gender) }}
                </div>

                {% if form.gender.vars.valid == false %}
                    <div class="">{{ form_errors(form.gender) }}</div>
                {% endif %}
            </div>

            {{ form_rest(form) }}
        </form>
    </div>
</div>

{% endblock %}