{% extends '::Public/base.html.twig' %}

{% block content %}
    <div class="user-action">
        <form action="{{ path('armor_user_register') }}" method="post" novalidate>

            <div class="">
                {{ form_errors(form) }}
            </div>

            {% if app.session.flashBag.has('email_failed') %}
                <div class="error margin-top-20">
                    {{ app.session.flashBag.get('email_failed')[0] }}
                </div>
            {% endif %}

            <div class="row">
                <div class="field-wrapper">

                    <div class="field">
                        {{ form_label(form.username) }}
                        <span class="highlight"> *</span>
                    </div>

                    <div class="field">
                        {{ form_widget(form.username) }}
                    </div>

                    {% if form.username.vars.valid == false %}
                        <div class="error margin-top-10">{{ form_errors(form.username) }}</div>
                    {% endif %}

                </div>
            </div>

            <div class="row">
                <div class="field-wrapper">

                    <div class="field">
                        {{ form_label(form.plainPassword.first) }}
                        <span class="highlight"> *</span>
                    </div>

                    <div class="field">
                        {{ form_widget(form.plainPassword.first) }}
                    </div>

                    {% if form.plainPassword.first.vars.valid == false %}
                        <div class="error margin-top-10">{{ form_errors(form.plainPassword.first) }}</div>
                    {% endif %}

                </div>
            </div>

            <div class="row">

                <div class="field-wrapper">
                    <div class="field">
                        {{ form_label(form.plainPassword.second) }}
                        <span class="highlight"> *</span>
                    </div>

                    <div class="field">
                        {{ form_widget(form.plainPassword.second) }}
                    </div>
                </div>

            </div>

            <div class="row">

                <div class="field-wrapper">

                    <div class="field">
                        {{ form_label(form.name) }}
                        <span class="highlight"> *</span>
                    </div>

                    <div class="field">
                        {{ form_widget(form.name) }}
                    </div>

                    {% if form.name.vars.valid == false %}
                        <div class="error margin-top-10">{{ form_errors(form.name) }}</div>
                    {% endif %}

                </div>
            </div>

            <div class="row">

                <div class="field-wrapper">

                    <div class="field">
                        {{ form_label(form.lastname) }}
                        <span class="highlight"> *</span>
                    </div>

                    <div class="field">
                        {{ form_widget(form.lastname) }}
                    </div>

                    {% if form.lastname.vars.valid == false %}
                        <div class="error margin-top-10">{{ form_errors(form.lastname) }}</div>
                    {% endif %}

                </div>

            </div>

            {{ form_rest(form) }}

            <div class="button-wrapper">
                <button type="submit">Be the world</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}